<!DOCTYPE>
<html>
<head>
<title>Tessy Joseph John</title>
<style>
body
	{
	background:black;
	text-align:center;

	}
p
	{
	color:white;
	}
input
	{
	padding:20px;
	color:black;
	}
input[type="submit"]
	{
	color:white;
	background:red;
	}
#error
	{
	color:red;
	}
</style>
</head>
<body>
<p>Signup</p>
<input type="text" name="username"placeholder="name" value={{username}}>
<div class="error">error_username</div>
<br>
<input type="password" name="pass"placeholder="password" value={{username}}>
<div class="error">error_password</div>
<br>
<input type="password" name="con"placeholder="confirm password"value={{username}}>
<div class="error">error_varpass</div>
<br>
<input type="email" name="your_email"placeholder="your_email"value={{youremail}}>
<div class="error">error_email</div>
<br>
<input type="submit">
<br>
</body>

</html>
